#image-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
}

#image-container > div {
  display: flex;
  align-items: center;
}

#image-container img {
  width: 10rem;
}

.bordered {
  border-width: 5px;
  border-style: solid;
  border-color: bisque;
}
